@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&family=Barlow+Condensed:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom css */

body {
    font-family: 'Andada Pro', serif;
}

header .is-fixed {
    backdrop-filter: blur(6px);
    background-color: #36246514;
}